Introduction
------------
This notebook regards the project of BMI 706 (Spring 2023)

Authors: Team luckybabies (Fuchen Li, Xi Wang, Zihan Wang)
Date: Mar 9, 2023

In [1]:
import matplotlib.pyplot as plt
import numpy             as np
import math
import sys
import pandas as pd
import re

# Generate users list

In [2]:
! ls tappy-keystroke-data-1.0.0/Archived\ users > "Tappy_users_id.txt"
! ls tappy-keystroke-data-1.0.0/tappy\ Data > "Tappy_users_data.txt"

# Generate users dataframes (demographic stat + Tappy data)

In [3]:
user_list_pd = pd.read_csv("Tappy_users_id.txt", header=None)
user_list = user_list_pd[0].tolist()

In [4]:
col_names = ["User_id",
             "BirthYear",
             "Gender",
             "Parkinsons",
             "Tremors",
             "DiagnosisYear",
             "Sided",
             "UPDRS",
             "Impact",
             "Levadopav",
             "DA",
             "MAOB",
             "Other"]

users_stat = pd.DataFrame(columns = col_names)
for i in user_list:
    
    curr_user_id = re.split(r'_|.txt', i)[1]
    
    curr_user = []
    curr_user.append(curr_user_id)
    
    for line in open('tappy-keystroke-data-1.0.0/Archived users/'+i):
        
        curr_user.append(line.strip().split(':')[1])
        
    users_stat = users_stat.append(pd.DataFrame([curr_user], columns=col_names), ignore_index=True)

In [5]:
users_stat

,User_id,BirthYear,Gender,Parkinsons,Tremors,DiagnosisYear,Sided,UPDRS,Impact,Levadopav,DA,MAOB,Other
0,0EA27ICBLF,1952,Female,True,True,2000,Left,Don't know,Severe,True,True,False,False
1,0QAZFRHQHW,1959,Female,False,False,------,None,Don't know,------,False,False,False,False
2,0WTDIGPSBZ,1946,Female,False,False,------,None,Don't know,------,False,False,False,False
3,1HOEBIGASW,1944,Male,False,False,------,None,Don't know,------,False,False,False,False
4,1WMVCCU4RH,1953,Male,True,True,2017,Left,Don't know,Medium,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,ZT9ASWFCFS,1957,Female,True,True,2008,Left,Don't know,Severe,True,False,False,True
223,ZWBPPNQCUX,1942,Male,True,False,2016,None,Don't know,Mild,True,False,False,False
224,ZWHGXDUDLG,1942,Male,True,True,2013,None,Don't know,Medium,True,False,False,True
225,ZY9CCHSPF2,,Female,True,True,2015,Right,Don't know,Medium,False,True,False,False
226,ZYWLN4JVLA,,Female,True,False,,Right,Don't know,Medium,True,True,True,True

In [6]:
users_stat.to_csv("users_stat.csv")

## Tappy Data into a single dataframe

In [87]:
user_list_data_pd = pd.read_csv("Tappy_users_data.txt", header=None)
user_list_data = user_list_data_pd[0].tolist()

In [97]:
! sed h ./tappy-keystroke-data-1.0.0/Tappy\ Data/*.txt > merged_data.txt

In [99]:
# UserKey: 10 character code for that user
# Date: YYMMDD
# Timestamp: HH:MM:SS.SSS
# Hand: L or R key pressed
# Hold time: Time between press and release for current key mmmm.m milliseconds
# Direction: Previous to current LL, LR, RL, RR (and S for a space key)
# Latency time: Time between pressing the previous key and pressing current key. Milliseconds
# Flight time: Time between release of previous key and press of current key. Milliseconds

col_names_data = ["User_id",
             "Date",
            "Timestamp",
            "Hand",
            "Hold_Time",
            "Direction",
            "Latency_Time",
            "Flight_Time"]

In [106]:
user_data = pd.read_csv("merged_data.txt", names = col_names_data, sep = "\t", index_col=False)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,4,6,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [107]:
user_data

,User_id,Date,Timestamp,Hand,Hold_Time,Direction,Latency_Time,Flight_Time
0,0EA27ICBLF,160722,18:41:04.336,L,0101.6,LL,0234.4,0156.3
1,0EA27ICBLF,160722,18:42:14.070,L,0085.9,LL,0437.5,0359.4
2,0EA27ICBLF,160722,18:42:14.273,L,0078.1,LL,0210.9,0125.0
3,0EA27ICBLF,160722,18:42:14.617,L,0062.5,LL,0359.4,0281.3
4,0EA27ICBLF,160722,18:42:15.586,S,0125.0,LS,0187.5,0093.8
...,...,...,...,...,...,...,...,...
9316853,ZYWLN4JVLA,170126,13:56:20.117,L,0195.3,RL,0425.8,0261.7
9316854,ZYWLN4JVLA,170126,13:56:20.242,R,0105.5,LR,0214.8,0019.5
9316855,ZYWLN4JVLA,170126,13:56:33.625,L,0168.0,LL,0332.0,0015.6
9316856,ZYWLN4JVLA,170126,13:56:33.836,L,0097.7,LL,0281.3,0113.3
9316857,ZYWLN4JVLA,170126,13:56:34.066,L,0168.0,LL,0160.2,0062.5

In [7]:
users_stat

,User_id,BirthYear,Gender,Parkinsons,Tremors,DiagnosisYear,Sided,UPDRS,Impact,Levadopav,DA,MAOB,Other
0,0EA27ICBLF,1952,Female,True,True,2000,Left,Don't know,Severe,True,True,False,False
1,0QAZFRHQHW,1959,Female,False,False,------,None,Don't know,------,False,False,False,False
2,0WTDIGPSBZ,1946,Female,False,False,------,None,Don't know,------,False,False,False,False
3,1HOEBIGASW,1944,Male,False,False,------,None,Don't know,------,False,False,False,False
4,1WMVCCU4RH,1953,Male,True,True,2017,Left,Don't know,Medium,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,ZT9ASWFCFS,1957,Female,True,True,2008,Left,Don't know,Severe,True,False,False,True
223,ZWBPPNQCUX,1942,Male,True,False,2016,None,Don't know,Mild,True,False,False,False
224,ZWHGXDUDLG,1942,Male,True,True,2013,None,Don't know,Medium,True,False,False,True
225,ZY9CCHSPF2,,Female,True,True,2015,Right,Don't know,Medium,False,True,False,False
226,ZYWLN4JVLA,,Female,True,False,,Right,Don't know,Medium,True,True,True,True